/* Global styles End*/

h1,
h2 {
    color: #3b3b3b;
}


/* Global styles End*/


/* Header Section Start */

.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.header a {
    color: #495464;
}

#input-search {
    height: 30px;
    width: 150px;
    padding: 15px;
}


/* Header Section End */


/* media quires Start*/

@media screen and (max-width:600px) {
    .header {
        flex-direction: column;
        height: 150px;
        margin: 10px 0;
    }
    #input-search {
        height: 40px;
        width: 250px;
    }
}


/* media quires End*/