@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./header.css');
@import url('./footer.css');
@import url('./main.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: #f4f4f2;
}

.container {
    display: grid;
    grid-template-areas: 'hd ' 'main ' 'ft ';
    gap: 50px;
    margin: 0 150px;
}

@media all and (max-width:1150px) and (min-height:760px) {
    .container {
        margin: 0 80px;
    }
}

@media all and (max-width:600px) {
    .container {
        margin: 0 30px;
    }
}