/* Global styles Start*/

:root {
    --primary--color: #007BFF;
    --dark-grey: #535c69;
    --green: #26A745;
}


/* Global styles End*/


/* grid container Start*/

.posts {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 50px;
}


/* grid container End*/


/* Post Card Start */

.post-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    border: 5px solid #bbbfca;
    border-radius: 5px;
    box-shadow: 1px 1px 8px var(--dark-grey);
    background: #f0f0f01a;
}

.post-type {
    color: var(--green);
    margin-bottom: 15px;
}

.post-card:nth-child(odd) .post-type {
    color: var(--primary--color);
}

.post-date {
    color: var(--dark-grey);
    margin: 5px 0;
}

.post-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -25px;
    margin-top: 50px;
    color: var(--primary--color);
    width: calc(100% + 50px);
    height: 50px;
    transition: 0.2s ease-in;
}

.post-card a:hover {
    background: var(--primary--color);
    color: #fff;
}


/* Post Card End */


/* media quires Start*/

@media screen and (max-width:1150px) and (min-height:760px) {
    .posts {
        grid-template-columns: 1fr;
    }
}


/* media quires End*/